{% extends 'blog/base.html' %}

{% block title %}Logged Out - Django Blog{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>You have been logged out</h2>
    
    <div class="logout-message">
        <p>Thank you for using Django Blog. You have been successfully logged out.</p>
        <p>We hope to see you again soon!</p>
    </div>
    
    <div class="auth-links">
        <p><a href="{% url 'login' %}">Login again</a></p>
        <p><a href="{% url 'home' %}">Go to Home</a></p>
    </div>
</div>
{% endblock %}
